* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: montserrat;
}

nav {
  background-color: white;
  height: 80px;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #000000;
  font-size: 20px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.logo span {
  color: rgba(40, 230, 129, 0.969);
}
.link {
  justify-content: center;
}
nav .link li {
  display: inline-block;
  margin: 0 5px;
}
nav .link li a {
  color: #000000;
}
nav button {
  background-color: rgba(40, 230, 129, 0.969);
  width: 80px;
  line-height: 30px;
  margin: 0 15px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}

.main-nav {
  margin: 50px;
}
.main_container {
  width: 100%;
}
.container1 {
  display: flex;
  gap: 5rem;
  padding-left: 100px;
  width: 100%;
}
.container2 {
  display: flex;
  gap: 5rem;
  width: 100%;
  padding-left: 100px;
}
.item-a h1 {
  color: rgba(40, 230, 129, 0.969);
}
.item-a strong {
  font-size: 50px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.item-a p {
  line-height: 30px;
}
.item-d button {
  background-color: rgba(40, 230, 129, 0.969);
  color: #ffffff;
  line-height: 35px;
  width: 150px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
}
#searchBar {
  display: flex;
  margin: 0;
}
#inputField {
  position: relative;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 0 0 5px;
  border-color: rgba(228, 219, 219, 0.931);
}
.fa-magnifying-glass {
  position: absolute;
  left: 100px;
  top: 499px;
  margin-right: 80px;
}
#btn {
  width: 150px;
  background-color: rgba(40, 230, 129, 0.969);
  border: none;
  color: #ffffff;
  line-height: 50px;
  border-radius: 0 5px 5px 0;
  margin-left: 50px;
}

/* .item-b{
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .item-c{
    justify-content: center;
    align-items: center;
    text-align: center;
    }
   .item-d{
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .item-d strong{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .item-d p{
    line-height: 20px;
  }
  .container1{
    display: flex;
  }
  .item1 {
    justify-content: center;
    align-items: center;
  } 

   .item2 {
    grid-area: textArea2;
  }
  .item3 {
    grid-area: textArea3;
  }
  .item4 {
    grid-area: textArea4;
  }
  .item5 {
    grid-area: img;
  }
  
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "textArea1 textArea1 textArea1"
      "textArea2 img"
      "textArea3 img"
      "textArea4 img";
    }  */
/* .container1{
        display: block;
    } */

nav ul li a {
  color: #000000;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
nav ul li button {
  background-color: rgb(0, 128, 64);
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
}
a.active,
a:hover {
  background-color: #1b9bff;
  transition: 5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  /* display: none; */
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 20px;
    padding-left: 50px;
  }
}
nav ul li a {
  font-size: 16px;
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
    font-size: 20px;
    padding-left: 50px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100px;
    text-align: center;
    transform: all 0.5s;
    background-color: #00000074;
    /* background-color: #2c3e50; */
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: #ffffff;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.clear {
  clear: both;
}
footer {
  background-color: #000000;
  height: 680px;
  width: 100%;
  height: 150px;
  position: fixed;
}
footer ul {
  float: right;
  margin-right: 20px;
}
footer ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
footer ul li a label {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
