*{
    margin: 0;
    padding: 0;
}
.center-container{
    width: 50%;
    margin: auto;
    padding-top: 10rem;
}
 .center-container{
    padding-top: 4rem;
    width: 100%;
    height: 1900px;
}
.center-container .list-items{
    display: flex;
    padding-right: calc( 50% - 260px);
}
.list-items ul{
    list-style: none;
}
.list-items ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
 .center-container .split{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.split .box-splited{
    outline: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    background-color: #f5f5f5;
    line-height: 2.5rem;
    width: 20%;
}
.split .box-splited .color-name{
    color: rgb(0, 204, 255);
}
.split .box-splited .space{
    padding: 1rem;
}
.split .box-splited p{
    color: rgba(25, 25, 25, 0.61);
}
 .center-container .split .box-splited .image{
    width: 100%;
    height: 20vh;
    border-radius: 5px 5px 0 0;
}
.box-splited .split-info{
    display: flex;
    gap: 0.5rem;
}
.box-splited .split-info .link-info a{
    color: #000000;
}
.box-splited .split-info .icon{
    color: rgb(35, 1, 90);
}
